@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #12f7ff, #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 25px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 25px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 80px;
}

.relogio span.tempo {
    font-size: 15px;
}

.content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 00px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content h1{
    font-family: 'ICA Rubrik';
    font-size: 10em;
    line-height: 1em;
    color: #25283B;
    position: relative;
    left: 110px;
    padding: 5px;
}

.content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}






